html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    border: none; 
    border-radius: 0.75rem; 
}

.card-header {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.table {
    margin-bottom: 0;
}

    .table thead th:first-child {
        border-top-left-radius: 0.5rem;
    }
    .table thead th:last-child {
        border-top-right-radius: 0.5rem;
    }

.table-hover > tbody > tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}

.table td {
    vertical-align: middle; 
}